<!-- This is the signup or signin page(Welcome Page) -->
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1>Welocome To Habit_Tracker API
               
            </h1>
            <!-- Here two option register or log-in -->
            <p>Here you signup or signin</p>
            <a href="/users/signup" class="btn btn-primary btn-block mb-2">SignUp</a>
            <a href="/users/signin" class="btn btn-success btn-block">SignIn</a>
        </div>
    </div>
</div>